<script src="~/js/jquery-1.12.0.js"></script>
<script>
    @Url.RequestContext.RouteData.Values["companyName"]
    var companyName;
    function functionPrintCompanyName() {
        var path = window.parent.location.pathname;// "/Home/userView"
        var originalPath = path.substring(1, path.length);// "Home/userView"
        var arr = originalPath.split('/');
        companyName = arr[1];
        document.getElementById("headText").innerText = companyName;
    }
    function loadDataFromDB() {
        var companyObj = new Object();
        companyObj.mstrCompanyName = companyName;
        companyObj.mstrCompanyUrl = "/" + companyName;
        companyObj.mstrCompanyId = "001";
        $.ajax({
        type: "GET",
        url: "C:/Users/gkaur/Documents/Visual Studio 2012/Projects/userMasterPage/userMasterPage/Controllers/Utility/getDataFromDataBase",
        data: { JsonString : JSON.stringify(companyObj) },
        datatype: "JSON",
        async:false
      });
    }
    window.onload = function () {
        functionPrintCompanyName();
        loadDataFromDB();
    }
</script>
<div id="body">
    <div id="heading">
        <span id="headText" style="font-weight:bolder; font-size:xx-large">@(Request.QueryString["id"])</span>
    </div>
    <br>
    <br>
    <div>
        <table id="statTable" style="margin: auto auto;" cellpadding="10" cellspacing="10">
            <tr>
                <th>
                    ComponentName
                </th>
                <th>
                    Status
                </th>
            </tr>
        </table>
    </div>
</div>
