<!--Bootstrap Value imports-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/bootstrap-theme.min.css"/>

<link rel="stylesheet" href="~/css/CustomCalendar.css"/>
<script src="~/Scripts/jquery-1.12.3.min.js"></script>
<script src="~/Scripts/jquery-1.10.1.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>

<script>
    $(document).ready(function () {
        InactivateEvents();
        $.getScript('../Scripts/fullcalendar.min.js', function () {
            var companyId = $("#UserCompanyIdReturn", window.parent.document).val();
            if (companyId == null) {
                alert("Select Company First");
            }
            else {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    aspectRatio: 1.80,
                    slotEventOverlap: false,
                    editable: false,
                    eventStartEditable: false,
                    eventBorderColor: "FFFFFF",
                    eventDurationEditable: false,

                    events: 'getExistingEventsInUser?pstrCompanyId=' + companyId,
                    eventTextColor: "#000000",
                    eventClick: function (calEvent) {
                        modalClickEventDetails(calEvent.id);


                    }
                });
            }

        });
    });

    function InactivateEvents() {
        $.ajax({
            url: '../Admin/InactivateEvents',
            async: false,
            type: 'get',
            cache: false
        });
    }

    function modalClickEventDetails(id) {
        displayEventDetails(id);
        $(function () {
            function reposition() {
                var modal = $(this),
                    dialog = modal.find('.modal-dialog');
                modal.css('display', 'block');

                // Dividing by two centers the modal exactly, but dividing by three 
                // or four works better for larger screens.
                dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 3));
            }
            // Reposition when a modal is shown
            $('.modal').on('show.bs.modal', reposition);
            // Reposition when the window is resized
            $(window).on('resize', function () {
                $('.modal:visible').each(reposition);
            });
        });
        parent.$("#eventClickEventModalInUser").modal('show');
    }
    //to show event details
    function displayEventDetails(id) {
        $.ajax({
            url: '../Admin/jsonEventClick',
            type: 'POST',
            data: { jsonpstrgetEventId: id },
            datatype: "json",
            async: false,
            cache: false,
            success: function (data) {
                var parentElement = $("#eventClickEventModalInUser", window.parent.document);
                $(parentElement).contents().find("#EventTitleShowInUser").val(data[0].Title);
                $(parentElement).contents().find("#EventDetailsShowInUser").val(data[0].Details);
                $(parentElement).contents().find("#datetimepickerStartTimeShowInUser").val(moment(data[0].Start).format('YYYY-MM-DD HH:mm'));
                $(parentElement).contents().find("#datetimepickerEndTimeShowInUser").val(moment(data[0].EndTime).format('YYYY-MM-DD HH:mm'));
                $(parentElement).contents().find("#selectCronStringShowInUser").val(data[0].Repetition);

                //conditions for Maintenance 
                if (data[0].Maintenance == "Maintenance") {
                    $(parentElement).contents().find("#selectTypeMaintenanceShowInUser").val("Maintenance");
                    $(parentElement).contents().find("#selectTypeMaintenanceShowInUser").css("color", "green");
                }
                else {
                    if (data[0].Maintenance == "Performance Degradation") {
                        $(parentElement).contents().find("#selectTypeMaintenanceShowInUser").val("Performance Degradation");
                        $(parentElement).contents().find("#selectTypeMaintenanceShowInUser").css("color", "orange");
                    }
                    else {
                        $(parentElement).contents().find("#selectTypeMaintenanceShowInUser").val("Service Disruption");
                        $(parentElement).contents().find("#selectTypeMaintenanceShowInUser").css("color", "red");
                    }

                }

                //Conditions for status
                if (data[0].Status == "Active") {
                    $(parentElement).contents().find("#StatusShowInUser").val("Active");
                    $(parentElement).contents().find("#StatusShowInUser").css("color", "green");
                }
                else {
                    $(parentElement).contents().find("#StatusShowInUser").val("Inactive");
                    $(parentElement).contents().find("#StatusShowInUser").css("color", "orange");
                }
            },
            error: function () {
                alert('there was an error while displaying events!');
            },
        });
    }


</script>
<br />
<table>
    <tr>
    <td><span style="font-size:x-large; font-weight:500; float:left; margin-left:10px;">Maintenance Calendar</span></td>
    <td>
        <img src="/Content/Images/barCalendar.jpg" alt="Color Scheme" style="margin-left:500px;"/>
    </td>
    </tr>
</table><hr />

    <div class="container">
        <center>
	    <div id="calendar" style="width:85%;height:70%"></div>
    </div>

    <input type="hidden" id="HiddenEventId"/>
      </center>
</div>
