/*Styles for Master Page*/

/*default for page*/
body {
    margin: 0;
    font-family: "Arial","Franklin Gothic Book","Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #67747c;
    background-color: #fff;
}
    .masterPageTabButton
    {
    background:#F8F8F8;
    height:180px;
    width:80px;
    }

    .masterPageFooterTable 
    {
    width:100%;    
    margin-left:auto;   
    }

    .masterPageFooterTable th, td {
        padding: 2px;
        text-align: center;
    }


/*Styles for ActivatePage*/
    #ActivatePageStyle{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
    }


/*general style scheme*/
table{
        width:100%;    
        margin-left:auto;
        text-align:center;

    }

table th, td {
        padding: 2px;
        text-align: center;
    }
.PageHeadings {
        text-align:center;
        color:#0067BB;
        font-size:xx-large;
        
}
table thead {
        background-color:#F8F8F8; 
        font-size:medium;
        color:black;
}
table tbody {
        font-weight:bolder;
}
table > thead > tr > td {
        font-size:medium;
        color:black;
}

/*CSS for jquery datatables*/
.dataTables_length { 
        font-size:medium;
        font-weight:500;
        color:black;
}

.dataTables_length > label{
        font-size:medium;
        font-weight:500;
        color:black;
}

.dataTables_filter{ 
        font-size:medium;
        font-weight:500;
        color:black;
}

.dataTables_filter > label{ 
        font-size:medium;
        font-weight:500;
        color:black;
}


.dataTables_info{ 
        font-size:medium;
        font-weight:500;
        color:black;
}

.dataTables_info > label{
        font-size:medium;
        font-weight:500;
        color:black;
}

dataTables_paginate{ 
        font-size:medium;
        font-weight:500;
        color:black;
}

dataTables_paginate > label{
        font-size:medium;
        font-weight:500;
        color:black;
}

paginate_button {
        font-size:medium;
        font-weight:500;
        color:black;
}

paging_simple_numbers { 
        font-size:medium;
        font-weight:500;
        color:black;
}

/*Delete Components CSS*/
#componentDeleteButton:hover {
   color: red;
   cursor:pointer;
}

#componentDeleteButton:active {
   color: blue;
}
.questionMarkForIncident:hover {
   cursor:pointer;
}
