<div>
<div class="PageHeadings" style="color:rgb(24, 170, 32)">Activate Page</div>
<br><br><br><br>
    <div>
        <a href="#"><img src="@Url.Content("~/Content/Images/power.jpg")" style="align-self:center; width:5%; height:7%"/></a>
    </div>
</div>