<span style="float:left; font-size:larger; font-weight:500; margin-left:10px; margin-top:20px;">Administrators</span>
<br><br><hr /><br>

<script>
    $(document).ready(function () {
        loadRegisteredAdminData();
     
    });
</script>

<div class="table-responsive">
    <table class="table table-hover" id="RegisteredAdminTable">
        <thead>
            <tr>
                <td>
                    Admin Name
                </td>
                <td>
                    Account Type
                </td>
                <td>
                    Current Status
                </td>
            </tr>
        </thead>
        <tbody>
      
        </tbody>
    </table>
</div>


