@using WinMonitorApp.Models

<!-- Defining Tags for Using JQuery-->

<script src="~/Scripts/jquery-1.10.1.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<!--Bootstrap Value imports-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/bootstrap-theme.min.css"/>

<script src="~/Scripts/bootstrap.min.js"></script>

<link rel="stylesheet" href="~/css/custom.css" />

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>


 <!--Upper Top Default Blue Bar-->
    <div id="StartUserColorDiv" style="height:20px; width:100%; color:#0067BB; background-color:#0067BB;">
           Blue Color
    </div>

<!--Middle Top Default Div-->
<div id="body" style="width:99%; margin:5px;">
    <div id="header" style=" width:100%; height:auto;">
        <div id="label" style=" width:100%; float:left; font-size: 250%; margin:10px;">
                <span style="color:#0067BB; font-weight:800;">WIN</span><span style="color:black; font-weight:800">MONITOR</span>
                <img src="@Url.Content("~/Content/Images/CustomerLogo.png")" style="float:right; width:200px; height:40px; margin:10px;"/>
        </div><br />
  
<input type="hidden" id="UserCompanyIdReturn" value="@ViewBag.mUserCompanyId"/>
<h3 style="margin:10px; font-size:large;"><span>Account: </span><span style="color:#0067BB;">@ViewBag.mUserCompanyName</span></h3>


<!--Down Black using Navbar-->
    <nav class="navbar-left" style="width:100%; background-color:#484848; height:35px;">
      <div>
        <div class="navbar-header"  style="height:35px;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="height:35px; background-color:#484848;">
            <span class="icon-bar" style="height:35px;"></span>
            <span class="icon-bar" style="height:35px;"></span>
            <span class="icon-bar" style="height:35px;"></span> 
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="background-color:#484848; height:35px;">
          <ul class="nav nav-tabs navbar-left" style="font-size: 150%; height:35px;" id="navbarLinks">
                <li><a href="~/User/statusUserView/?commonCheck=CheckIfTrueErrorWin" target="content" id="frameStatusUserView" style="height:35px; font-size:medium;"><span style="color:white;">Status</span></a></li>
                <li><a href="~/User/historyUserView/?commonCheck=CheckIfTrueErrorWin" target="content" id="frameHistoryUserView" style="height:35px; font-size:medium;"><span style="color:white;">History</span></a></li>
                <li><a href="~/User/Performance/?commonCheck=CheckIfTrueErrorWin" target="content" id="framePerformanceUserView" style="height:35px; font-size:medium;"><span style="color:white;">Performance</span></a></li>
                <li><a href="~/User/MaintenanceCalendar" target="content" id="frameMaintenanceCalendar" style="height:35px; font-size:medium;"><span style="color:white;">Maintenance Calendar</span></a></li>
                <li><a href="~/User/Metrics/?commonCheck=CheckIfTrueErrorWin" target="content" id="frameMetrics" style="height:35px; font-size:medium;"><span style="color:white;">Metrics</span></a></li>
            </ul>
        </div>
      </div>
    </nav>
    </div>
    <iframe id="content" name="content" style="width:100%; height:75%; border: 1px solid #DEB887;" src="~/User/statusUserView/?commonCheck=CheckIfTrueErrorWin">
    </iframe>

   <div id="footer" class="row-fluid s4-notdlg">
	        <div class="container-fluid">
		        <div id="footer-links">
			        <ul>
				        <li style="list-style-type:none; display:inline;"><a href="http://help.winshuttle.com/foundation " target="_blank">Help</a>&nbsp;&nbsp;</li>
				        <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/support-training/" target="_blank">Support</a>&nbsp;&nbsp;</li> 
				        <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/About" target="_blank">About</a>&nbsp;&nbsp;</li>  
                         <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/Privacy" target="_blank">Privacy</a>&nbsp;&nbsp;</li> 
                         <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/EULA" target="_blank">EULA</a>&nbsp;&nbsp;</li>
                         <li style="list-style-type:none; display:inline; float:right">© 2008-2016 Winshuttle, LLC</li>
				    </ul>
	        </div>
        </div>
    </div>
</div>

<!--display incident details-->
   <div class = "modal fade" id = "eventClickEventModalInUser" tabindex = "-1" role = "dialog" aria-labelledby = "clickEventCalendarModalInUserLabel" aria-hidden = "true" >
                <div class = "modal-dialog">
                    <div class = "modal-content">
                        
                        <!--dialog box header-->
                        <div class = "modal-header">
                            
                             <!--dialog box close button-->
                            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                                &times;
                            </button>
            
                            <!--dialog box label--> 
                            <h4 class = "modal-title" id = "clickEventCalendarModalInUserLabel" style="color:#0067BB;">
                                 <b>Event Details</b>
                             </h4>
                     </div>
         
                <!--dialog box body-->
                <div class = "modal-body">
                     <form style="font-size:medium; font-weight:600;">
                         <div class="row">
                            <div class="col-sm-4" style="text-align:left;">
                                <span>Title</span>
                            </div>  
                             <div class="col-sm-8" style="text-align:left;">
                                <input type="text" style="border:none" id="EventTitleShowInUser" readonly="readonly"/>
                            </div>
                        </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Details</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left;">                        
                                  <textarea rows="3" cols="22" style="border:none" id="EventDetailsShowInUser" readonly="readonly"></textarea>
                             </div>
                         </div>
                         <br />
                           <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Start Time</span>
                             </div>
                             <div class="col-sm-6" style="text-align:left;">                        
                                  <input type="text" style="border:none" id="datetimepickerStartTimeShowInUser" readonly="readonly"/>
                             </div>
                         </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>End Time</span>
                             </div>
                                <div class="col-sm-8" style="text-align:left;">  
                                  <input type="text" style="border:none" id="datetimepickerEndTimeShowInUser" readonly="readonly"/>
                             </div>
                         </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Repetititon</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left;">                        
                                  <input type="text" style="border:none" id="selectCronStringShowInUser" readonly="readonly"/>
                             </div>
                         </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Type</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left;">                        
                                   <input type="text" style="border:none" id="selectTypeMaintenanceShowInUser" readonly="readonly"/>
                             </div>
                         </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Status</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left;">                        
                                   <input type="text" style="border:none" id="StatusShowInUser" readonly="readonly"/>
                             </div>
                         </div>
                     </form>
                 </div>
         
                <!--dialog box footer-->
                <div class = "modal-footer">
                        <!--dialog box Close Button-->
                        <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                           Close
                        </button>
                </div>
            </div>                                                
        </div>                                               
    </div>